.center {
    width: 100%;
    background: #eaeaea;
}

.center img {
    margin: 0.5rem 3% 0 3%;
    width: 94%;
}

.center>div {
    display: flex;
    width: 94%;
    margin-left: 3%;
    align-items: center;
    background: white;
}

.center>div:nth-of-type(2) {
    display: flex;
    width: 94%;
    margin-left: 3%;
    align-items: center;
    background: white;
    margin-bottom: 0.5rem;
}

.center>div>div:first-child {
    width: 70%
}

.center>div>div>p:nth-of-type(1) {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.center>div>div>p:nth-of-type(2) {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #666666;
}

.center>div>div>p:nth-of-type(2)>span {
    color: #ff4351;
}

.center>div>div:nth-of-type(2) {
    width: 30%;
    height: 3rem;
    background: #ff4351;
    border-radius: 50px 0 0 50px;
    font-size: 1rem;
    text-align: right;
    line-height: 3rem;
    color: white;
}

.txt {
    width: 94%;
    margin-left: 3%;
    font-szie: 0.9rem;
}