* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 10px;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#nav div {
  display: flex;
}

#nav div img {
  width: 40%;
  height: 1.5rem;
}

.you {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.you img {
  width: 2rem;
  height: 1rem;
}

.you p {
  color: #eaeaea;
}

.swiper-container img {
  width: 100%;
  height: 12rem;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 10px solid silver;
  padding: 0.5rem 0;
}

.main div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.5rem 0;
}

.main div img {
  width: 80%;
}

.main div p {
  padding: 0.5rem;
  color: saddlebrown;
}

#text1 {
  border-left: 5px solid greenyellow;
  margin-left: 1rem;
  margin-top: 1rem;
}

#text1 span {
  font-size: 10px;
  color: silver;
}

#text1 p {
  font-size: 2rem;
  margin-left: 0.5rem;
}

#text1 h1 {
  margin-left: 0.5rem;
}

.container2 img {
  width: 100%;
  height: 12rem;
  margin-top: 1rem;
}

#tuwen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid silver;
  margin-top: 1rem;
}

#tuwen div {
  display: flex;
  flex-wrap: nowrap;
}

#tuwen img {
  width: 2rem;
  height: 2rem;
}

#tuwen p {
  margin-top: 0.2rem;
}

#input {
  margin-left: 6rem;
  margin-top: 1rem;
}

#input input {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

#input input:nth-child(3) {
  background-image: url(img/mi.png);
  background-repeat: no-repeat;
  background-position: right;
}

#input button {
  width: 14rem;
  height: 3rem;
  border: none;
  background: #feb505;
  color: white;
}

.main2 {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.main2 div {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.main2 div img {
  width: 80%;
}

.main2 p:nth-child(3) {
  width: 5rem;
  background: #39c894;
  color: white;
}

#tuwen2 {
  margin-top: 1.6rem;
  width: 90%;
  display: flex;
  border: 1px solid silver;
  margin-left: 1rem;
  justify-content: center;
  height: 3rem;
  align-items: center;
}

#tuwen2 div {
  width: 35%;
  display: flex;
  flex-wrap: nowrap;
}

#tuwen2 div img {
  width: 1.5rem;
  height: 1.5rem;
}

#tuwen2 div:nth-child(1) {
  border-right: 1px solid silver;
}

#tuwen2 p {
  color: #39c894;
}

#box {
  width: 100%;
  border-bottom: 10px solid silver;
  margin-top: 1.5rem;
}

.main3 {
  width: 100%;
}

.main3 img {
  width: 93%;
  height: 10rem;
  margin-top: 1rem;
  padding: 0 0;
  margin-left: 1rem;
}

.main3 div {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main3 div img {
  width: 100%;
}

.main3 div div {
  width: 50%;
}

.img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.img img {
  width: 95%;
}

.text2 {
  width: 100%;
  margin-top: 1rem;
}

.text2 p {
  margin-left: 1rem;
  font-weight: bold;
}

.text2 span {
  margin-left: 0.5rem;
  background: #39c894;
  color: white;
}

#tuwen3 {
  width: 100%;
  display: flex;
}

#tuwen3 img {
  margin-left: 1rem;
  margin-top: 1rem;
}

#tuwen3 div {
  display: flex;
}

#tuwen3 div div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#tuwen3 div div p {
  margin-top: 1rem;
}

#tuwen3 div div p:nth-child(1) {
  font-size: 1.5rem;
}

#tuwen3 div div p:nth-child(3) {
  margin-left: -4rem;
  margin-top: 0.5rem;
}

.p1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-indent: 2em;
}

.p2 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.p2 img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 0.5rem;
}

#text2 {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

#text2 div {
  width: 100%;
  display: flex;
}

#text2 div p {
  width: 25%;
  justify-content: center;
  text-align: center;
}

#text2 div p:nth-child(1) {
  color: #39c894;
}
